a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 5%;
  white-space: nowrap;
}

a:active{
  color: orange;
}

a:hover{
  color: orange;
}

.logo {
  font-size: 2rem;
  color: white;
}

.me-auto {
  display: flex;
  align-items: center;
}

.CartItem {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
  gap: 5%;
  align-items: center;
}

.CartItem > .name {
  font-weight: bold;
  color: brown;
  transform: scale(1.03);
}

.CartItem > .amount > input {
  width: 13%;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  
}

.CartItem > .amount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.CartItem > .amount > button {
  background-color: white;
  border: transparent;
  font-weight: bold;
  transform: scale(1.3);
  cursor: pointer;
}

.CartItem > .amount > button:hover{
  transform: scale(2);
  transition: .5s;
  color: orange;
}

.label {
  background-color: rgb(255, 74, 74);
  padding: 5px;
  width: 25%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  position: absolute;
  top: 3%;
  left: -5%;
}



